<div text-color="blue" align="center"><h1>Eye-Care</h1></div>



<nav>
    <ul>
      <li> <img [src]="homelogo" height="80" width="80"></li>
      <li style="float:right"><a routerLink="/cart" routerLinkActive="active" class="active" href="#cart"><h3>Cart</h3></a></li>
    
      <li style="float:right"><a routerLink="/wishlist" routerLinkActive="active" class="active" href="#wishlist"><h3>Wishlist</h3></a></li>
    
    
            <li style="float:right"><a routerLink="/about" routerLinkActive="active" class="active" href="#about"><h3>About Us</h3></a></li>
            <li style="float:right"><a routerLink="/admin" routerLinkActive="active" class="active" href="#admin"><h3>Admin</h3></a></li>
            <li style="float:right"><a routerLink="/signin" routerLinkActive="active" class="active" href="#signin" target="_blank"><h3>sign in</h3></a></li>
            <li style="float:right"><a routerLink="/home" routerLinkActive="active" class="active" href="#home"><h3>Home</h3></a></li>
      </ul>
    </nav>