

   <h3 align="center">About Us</h3> 
   <br>
   
   &nbsp;&nbsp; &nbsp;Eye-Care is an Indian optical prescription eyewear retail chain. As of September 2019,
     Lenskart had over 500 stores in 70 cities in India. The company had a valuation of 
     $1.5 billion by Dec 2019 after Softbank invested around $275 million. <br>
Founded: 2020<br>
CEO: Peyush Bansal<br>
Headquarters location: Aurangabad<br>
Type of business: Private<br>
Founders: Peyush Bansal, Sumeet Kapahi, Amit Chaudhary<br>

<br>
Lenskart is an Indian optical prescription eyewear retail chain. As of September 2019,
 Lenskart had over 500 stores in 70 cities in India. The company had a valuation 
 of $1.5 billion by Dec 2019 after Softbank invested around $275 million.Peyush 
 Bansal, a former Microsoft employee, founded Lenskart in 2010 along with Amit Chaudhary
and Sumeet Kapahi. In 2020 Lenskart generated total revenue of Rs.1000 cr.<br><br><br>

<h4>Contact Us on==>1800-111-1100</h4>
